:root {
    --main-yellow: #f1c40f;
    --main-black: #111;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #111;
  }
  
  section {
    padding: 60px 20px;
  }
  
  .bg-dark {
    background-color: var(--main-black) !important;
  }
  
  .btn-warning {
    background-color: var(--main-yellow);
    border: none;
  }
  
  .btn-outline-light {
    border-color: white;
    color: white;
  }
  
  .btn-outline-light:hover {
    background-color: white;
    color: black;
  }
  